.inchirieri{
    width: 90%;
    margin: 1rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    table{
        background-color: $b;
        border-radius: 4px;
        text-align: center;
        font-size: 0.8rem;
        width: 100%;
        
        tr{
            text-align: center;
        }

        th{
            padding: 0.5rem;
            border-bottom: 1px solid white;
        }
        td{
            padding: 0.7rem 0.2rem;
        }
    }

    @include mq('sm'){
        max-width: 500px;
        h1{
            font-size: 1.7rem;
        }
    
        table{
            padding: 1rem;
            font-size: 1.1rem;
        }
    }

    @include mq('md'){
        max-width: 700px;
        h1{
            font-size: 1.9rem;
        }
    
        table{
            font-size: 1.3rem;
        }
    }

    @include mq('lg'){
        max-width: 900px;

        h1{
            font-size: 1.9rem;
        }
    
        table{
            font-size: 1.3rem;
            padding: 0.5rem 0;
    
            th{
                padding: 1rem;
            }
        }
    }
}