.istoric-comenzi{
    margin-bottom: 2rem;
    
    h2{
        font-size: 1.3rem;
        text-align: center;
        color: $b;
        margin: 1rem 0;
        margin-top: 1.5rem;
    }

    @include mq('sm'){

        h2{
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
        }
    }

    @include mq('md'){

        h2{
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }


    @include mq('lg'){
       h2{
            margin-top: 0;
            font-size: 1.7rem;
       }

       margin-bottom: 0;
    }
}
