.title{
    margin: 1rem auto 0 auto;
    h1{
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    select{
        border: none;
        background-color: $b;
        border-radius: 4px;
        padding: 0.2rem 0.6rem;
        margin-left: auto;
        display: block;
        transition: .2s all;
        font-size: 1rem;
    }
    select:focus{
        outline: none;
    }
    select:hover{
        background-color: $y;
    }

    @include mq('sm'){
        max-width: 370px;

        h1{
            font-size: 1.7rem;
            margin-bottom: 2rem;
        }

        select{
            padding: 0.3rem 0.6rem;
        }
    }

    @include mq('md'){
        max-width: 700px;

        h1{
            margin-top: 2rem;
            font-size: 1.9rem;
            margin-bottom: 1rem;
        }

        select{
            font-size: 1.2rem;
            padding: 0.3rem 0.6rem;
        }
    }

    @include mq('lg'){
        max-width: 1100px;

        select{
            font-size: 1.3rem;
            padding: 0.3rem 0.6rem;
        }
    }

}